*{
  box-sizing: border-box;
}
html{
  background-color: burlywood;
}
h1{
 font-size: 35px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 color: blue;
}
h2{
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
div{
  padding-left: 100px;
}
div img{
  height: 400px;
  flex-wrap: wrap;
  flex-direction: row;
}
p{
  font-size: 20px;
  text-align: center;
}